################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Exerc_1009/bin/Debug
/Exerc_1009/obj/Debug
/Exerc_1009/Properties
/Exerc_1010/bin/Debug
/Exerc_1010/obj/Debug
/Exerc_1011/bin/Debug
/Exerc_1011/obj/Debug
/Exerc_1012/bin/Debug
/Exerc_1012/obj/Debug
/Exerc_1013/bin/Debug
/Exerc_1013/obj/Debug
/Exerc_1014/bin/Debug
/Exerc_1014/obj/Debug
/Exerc_1015/bin/Debug
/Exerc_1015/obj/Debug
/Exerc_1016/bin/Debug
/Exerc_1017/bin/Debug
/Exerc_1016/obj/Debug
/Exerc_1017/obj/Debug
/Exerc_1018/obj/Debug
/Exerc_1018/Properties/AssemblyInfo.cs
/Exerc_1018/bin/Debug
/Exerc_1019/obj/Debug
/Exerc_1020/obj/Debug
/Exerc_1020/bin/Debug
/Exerc_1019/bin/Debug
